

<h1 class="page-title">
 Best Albums
</h1>

<div class="card-deck-wrapper container">
    <div class="card-deck">
        {{#each albumsList.items}}
            <div class="col-md-3">
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="{{images.[0].url}}" alt="Card image cap">
                    <div class="card-body container">
                        <h5 class="card-title">{{name}}</h5>
                        <a href="/viewtracks/{{id}}" class="btn btn-primary">View tracks</a>
                    </div>
                </div> 
            </div>
        {{/each}}
    </div>
</div>


