<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>


<body>
    
<h1 class="page-title">
 Best Artists
</h1>


<!-- iterate over the request from the query search-artist-->
<div class="card-deck-wrapper container">
    <div class="card-deck">
    {{#each artistResults}}
        <div class="col-md-3">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{images.[0].url}}" alt="Card image cap">
                <div class="card-body container">
                    <h5 class="card-title">{{name}}</h5>
                    <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a>
                </div>
            </div> 
        </div>
    {{/each}}
    </div>
</div>

</body>
</html>