


<h1 class="page-title">
 IRONHACK's SPOTIFY APP
</h1>



<div class="homepage-main-section container">
    <div class="homepage-content container">
        <div class="main-content">
            <form method="GET" action='/artist-search'>

                <label> 
                    <input type ="text" name="artist" placeholder="Search Artist" class="input"> 
                </label>

                <button class="homepage-query" type="submit"> SUBMIT </button>

            </form> 
        </div>
    </div>

</div>